.tour-container
{
    padding: 2rem;

    h1 
    {
        font-size: clamp(2rem, 4vw, 4rem);
        padding-top: 3rem;
        text-transform: uppercase;
    }

    table 
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}