.band-container
{
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.band-link 
{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 99;
}

.scroll 
{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.scroll h3 
{
    text-transform: uppercase;
}

.slide 
{
    transition: transform 0.5s ease, opacity 0.5s ease; 
    padding-top: 2rem;
}

.slide img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: .4rem;
}

.slide h1 
{
    position: absolute;
    top: 4rem;
    left: 2rem;
    mix-blend-mode: screen;
}

.slide p
{
    position: absolute;
    top: 8rem;
    left: 2rem;
    max-width: 400px;
    text-align: end;
    font-size: clamp(1rem, 2vw, 1.1rem);
    mix-blend-mode: screen;
}

@media screen and (max-width: 768px)
{
    .slide
    {
        margin-top: 2rem;
    }

    .title-link 
    {
        padding-top: 0rem;
    }
}