*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body 
{
  overflow-x: hidden;
  font-family: "MedievalSharp", cursive;
  background: rgb(198, 198, 198);
  background: #1e1d1d;
  color: #1e1d1d;
  color: rgb(198, 198, 198);
  scrollbar-width: none;
}

::-webkit-scrollbar {
 display: none;
}

img 
{
  image-rendering: -webkit-optimize-contrast;
}

.link 
{
  color: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgb(193, 1, 1);
  text-shadow: 1px 1px 2px rgb(183, 7, 7);
}