.films-container
{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 3rem;
    column-gap: 1rem;
    background: rgb(16, 15, 15);

    .film 
    {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        img 
        {
            object-fit: cover;
            width: 280px;
            height: 300px;
            object-position: top;
        }

        h3 
        {
            width: 250px;
        }

        p 
        {
            font-size: 1.1rem;
        }
    }
}

.link-wrapper 
{
    margin-top: 5rem;
    padding: 2rem;
}

@media screen and (max-width: 768px)
{
    .films-container
    {
        .film 
        {
            img 
            {
                width: 250px;
                height: 300px;
            }

            h3
            {
                width: 250px;
            }
        }
    }
}