.title 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
    .logo
    {
      background: linear-gradient(180deg, rgb(250, 249, 249), rgb(208, 16, 16));
      text-transform: lowercase;
      transition: all .5s ease-in;
      -webkit-background-clip: text; 
      background-clip: text;
      color: transparent;
      font-weight: bolder;
      text-decoration: none;
      text-shadow: 3px 1px 1px rgb(172, 14, 14);
      text-shadow: 3px -2px 5px rgb(19, 18, 18);
    } 
