.header-img 
{
  object-fit: cover;
  width: 100%;
  position: absolute;
  object-position: center;
  top: 0;
  left: 0;
  z-index: -1;
  height: 110vh;
}
.description
{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem;
  position: absolute;
  top: 80%;
  transform: translateY(-80%);
  color: rgb(16, 16, 16);
  background-color: rgba(230, 230, 230, 0.4);
  backdrop-filter: blur(3px);
div
{
  display: inline-flex;
  align-items: center;
  font-weight: bolder;
  gap: 1rem;
  min-width: 200%;
  font-size: clamp(1rem, 2vw, 2.5rem);
  text-align: center;
  animation: slide 20s linear infinite; 
  mix-blend-mode: multiply;
}
}

.btn 
{
    border: 1px solid #7b7b7b;
    border-radius: 5rem 10rem;
    color: rgb(236, 234, 234);
    background: linear-gradient(to right, rgba(218, 5, 5, 0.6), rgb(39, 37, 38));
    backdrop-filter: blur(8px);
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    transition: background .3s ease-in;
    &:hover 
    {
      background: rgb(29, 29, 29);
    }
}


@keyframes slide 
{
    0% {
      transform: translateX(0%); 
    }
    100% {
      transform: translateX(-50%); 
    }
}

@media screen and (max-width: 600px)
{
  .title 
  {
    top: 4rem
  }
}