.nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding: 1rem;
    scrollbar-width: none;

    .burger 
    {
        display: none;
    }

    .nav-left,
    .nav-right
    {
        display: flex;
        align-items: center;
        gap: 1rem;

        a 
        {
            color: rgb(236, 233, 233);
            text-decoration: none;
            text-align: center;
            font-size: 1.3rem;
        }
    }
}

@media screen and (max-width: 768px)
{
    .nav
    {
        position: relative;
        .burger 
        {
            display: flex;
            flex-direction: column;
            gap: .3rem;
            cursor: pointer;

            .line1,
            .line2,
            .line3 
            {
                width: 2.3rem;
                height: .2rem;
                background: #ddd;
            }
        }

        .nav-right 
        {
            position: absolute;
            top: 3rem;
            left: 1rem;
            display: flex;
            flex-direction: column;
            z-index: 99;
            background: red;
            width: 100%;
            height: 90vh;
        }
    }
}