.album-page 
{
  height: 100vh;
  background: #bfbebe;
  background: #1e1d1d;
  color: #1f1f1f;
  clip-path: circle(0% at 0% 100%); 
  transition: clip-path 1s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0rem 1rem 0rem;

  .about-artists 
  {
  
    p 
    {
      text-align: end;
    }
  }

  .title-flex-container
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 4rem;

    h1 
    {
      font-size: clamp(4rem, 9vw, 9rem);
    }
  }
  .discography-container 
  {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background: #17181a;
    width: 100%;
    padding: 0rem .5rem;
    overflow-x: auto;
    overflow-y: hidden;


    img 
    {
      object-fit: cover;
      width: 200px;
      height: 200px;
      cursor: pointer;
    }
  }
}
  
  .album-page.open
  {
    clip-path: circle(150% at 0% 100%);
  }

  @media screen and (max-width: 600px)
  {
    .album-page
    {
      height: 120vh;
    }
  }

  