*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
  overflow-x: hidden;
  font-family: "MedievalSharp", cursive;
  background: #c6c6c6;
  color: #1e1d1d;
}

::-webkit-scrollbar {
  width: 5px; 
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #171717; 
}

::-webkit-scrollbar-thumb {
  background-color: #1f1e1e;
  border-radius: 6px; 
}

img 
{
  image-rendering: -webkit-optimize-contrast;
}
